body {
    background-color: #c5c5c5;
		margin:0px;
	height:100vh;
}
content {
    background-color: #c5c5c5;
		margin:0px;
	height:100vh;
}
.nav-triangle-right {
	display: inline;
	width: 0;
	height: 0;
	border-top: 3vh solid transparent;
	border-left: 6vh solid blue;
	border-bottom: 3vh solid transparent;
}




.hyperspan {
    position:relative;
    width:100%;
    height:90%;
    left:0;
    top:0;
}
.hyper {
    width:100%;
    height:90%;
    left:0;
    top:0;
}
h2 {
	margin-block-start: auto;
	margin-block-end: auto;
	vertical-align: middle;
	display: inline-block;
	float:left;
}
.ge-button {
	width: auto;
	margin: 0;
	border-radius: 8px 8px 8px 8px;
	font-family: "GE Inspira Sans";
}
.ge-button:hover{
	margin: 0.5rem;
	width: auto;
	margin: 0;
	border-radius: 8px 8px 8px 8px;
	font-family: "GE Inspira Sans";
	background-color: grey !important;
	border-color: grey !important;
}
.ge-button.-color--blue:hover{
	margin: 0.5rem;
	font-family: "GE Inspira Sans" !important;
	background-color: grey !important;
	border-color: grey !important;
}

.navigation{
	display: inline-block;
	width:94%; 
	height:98%;
	background-color: white; 
	padding: 1vh 3vw 1vh 3vw;
	
}
.floaty {
	--main-measurement: 64vw;
	margin: 8% 8% 8% 8%;
	padding: 8%;
	width: var(--main-measurement);
	height: var(--main-measurement);
    background-color: white;
    float: left; 
	border-radius: 8px 8px 8px 8px;
}
.floaty.large {
	--main-measurement: 90vw;
	--ancillary-measurement: 65vw;
	margin: 5% 5% 5% 5%;
	padding: 4%;
	width: var(--main-measurement) !important; 
	height: var(--ancillary-measurement) !important; 
    background-color: white;
    float: left; 
	border-radius: 12px 12px 12px 12px;
}
button {
	width: 40vw
	margin: 0;
	border-radius: 8px 8px 8px 8px;
}
nav {
	display: inline-block;
	width: 100%;
	height: 80px;
    background-color: #000032;
	color: white;
	font-color: white;
	font-size: 1.3em;
    float: left; 
	margin: 0%;
	padding: 18px 8% 38px 8% ;
	font-family: "GE Inspira Sans";
}
.nav-rectangle{
	position: fixed;
	top:80px;
	left:auto;
	background-color: blue; 
	width:fit-content;
	color: white;	
}

@media screen and (min-width: 480px) {
.navigation{
	display: inline-block;
	width:94%; 
	height:98%;
	background-color: white; 
	padding: 1vh 3vw 1vh 3vw;
	
}
.floaty {
	--main-measurement: 32vw;
	margin: 4% 4% 4% 4%;
	padding: 4%;
	width: var(--main-measurement);
	height: var(--main-measurement);
    background-color: white;
    float: left; 
	border-radius: 8px 8px 8px 8px;
}
.floaty.large {
	--main-measurement: 80vw;
	--ancillary-measurement: 60vw;
	margin: 4% 4% 4% 4%;
	padding: 4%;
	width: var(--main-measurement) !important; 
	height: var(--ancillary-measurement) !important; 
    background-color: white;
    float: left; 
	border-radius: 14px 14px 14px 14px;
}

nav {
	display: inline-block;
	width: 100%;
	height: 115px;
    background-color: #000032;
	color: white;
	font-color: white;
	font-size: 1.6em;
    float: left; 
	margin: 0%;
	padding: 38px 8% 42px 8% ;
	font-family: "GE Inspira Sans";
}

}
@media screen and (min-width: 800px) {
.navigation{
	display: inline-block;
	width:94%; 
	height:98%;
	background-color: white; 
	padding: 1vh 3vw 1vh 3vw;
	
}
.floaty {
	--main-measurement: 21.3vw;
	margin: 2% 3% 2% 3%;
	padding: 2%;
	width: var(--main-measurement);
	height: var(--main-measurement);
    background-color: white;
    float: left; 
	border-radius: 8px 8px 8px 8px;
}
.floaty.large {
	--main-measurement: 40vw;
	--ancillary-measurement: 40vw;
	margin: 2% 3% 2% 3%;
	padding: 2%;
	width: var(--main-measurement) !important; 
	height: var(--ancillary-measurement) !important; 
    background-color: white;
    float: left; 
	border-radius: 16px 16px 16px 16px;
}
button {
	width: 20vw
	margin: 0;
	border-radius: 12px 12px 12px 12px;
	
}
nav {
	display: inline-block;
	width: 100%;
	height: 130px;
    background-color: #000032;
	color: white;
	font-color: white;
	font-size: 2em;
    float: left; 
	margin: 0%;
	padding: 35px 8% 42px 8% ;
	font-family: "GE Inspira Sans";
}
}
@media screen and (min-width: 1200px) {
.navigation{
	display: inline-block;
	width:94%; 
	height:98%;
	background-color: white; 
	padding: 1vh 3vw 1vh 3vw;
	
}
.floaty {
	--main-measurement: 16vw;
	margin: 2% 2% 2% 2%;
	padding: 2%;
	width: var(--main-measurement);
	height: var(--main-measurement);
    background-color: white;
    float: left; 
	border-radius: 8px 8px 8px 8px;
}
.floaty.large {
	--main-measurement: 40vw;
	--ancillary-measurement: 460px;
	margin: 2% 2% 2% 2%;
	padding: 20px;
	width: var(--main-measurement) !important; 
	height: var(--ancillary-measurement) !important; 
    background-color: white;
    float: left; 
	border-radius: 16px 16px 16px 16px;
}
button {
	width: 20vw
	margin: 0;
	border-radius: 12px 12px 12px 12px;
}
nav {
	display: inline-block;
	width: 100%;
	height: 130px;
    background-color: #000032;
	color: white;
	font-color: white;
	font-size: 2em;
    float: left; 
	margin: 0%;
	padding: 35px 8% 42px 8% ;
	font-family: "GE Inspira Sans";
}
}
a {
	font-family: "GE Inspira Sans";
}