<!doctype html>
<title> Catalog - {% block title %}{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='core-design.css') }}">
<style>

</style>
<nav>
  <h1>This Here Parts Catalogue</h1>
    {% if 'username' in session %}
	<a href="{{ url_for('gdisconnect')}}" > <button class="ge-button -log" style="  top: 60px; border-radius: 8px 8px 8px 8px; margin 0px 0px 3vw 0px;"> Sign Out </button> </a>
</form>
{% else %}
<a href="{{url_for('showLogin')}}" > <button class="ge-button -log" style="  top: 60px; border-radius: 8px 8px 8px 8px; margin 0px 0px 3vw 0px;"> Sign In </button> </a>
{% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>