<!doctype html>
{% extends 'base.html' %}
{% set last = navs[0] %}

{% block title %} Delete {{ last[1] }} {% endblock %}
{% block header %}
<div>
<div class="navigation" >
   
    {% for n in navs | reverse %}
 
  <a href='{{url_for('decide', mcid = n[0]) }}'>
  
  <h2 class="-font--sans" style="top: 50%; font-size: 2em;"> {{n[1]}} > 
  </h2> 
   
  </a>

  {% endfor %}  
  
  </div>
  </div>
  {% endblock %}
{% block content %}


<body>

<div class="floaty" style="width: 50vw; height: 30vh; border-radius: 2.5% 2.5% 2.5% 2.5%">
<h1 class="-font--sans"> Are you sure you want to delete the Category named <b><u>{{last[1]}}</u></b>? </h1>
<form action="#" method = 'post'>
	<p class="-font--sans" style="font-size: 1.5em;"> Name: {{last[1]}}</p>	
<input class="ge-button -fill--solid" style="border-radius: 5% 5% 5% 5%;background-color:#FF0000;border-color:#FF0000;" type='submit', value = 'Delete'>
<a class="-font--sans ge-button -fill--solid" style="border-radius: 5% 5% 5% 5%" href='{{url_for('mainCategories')}}'>Cancel</a>



</form>
</div>
</body>
{% endblock %}