
<!doctype html>
{% extends 'base.html' %}
{% set last = navs[0] %}

{% block title %} {{ last[1] }} {% endblock %}
{% block header %}
<div>
<div class="navigation" >
  
   
  
  {% for n in navs | reverse %}

  
  <a href='{{url_for('decide', mcid = n[0]) }}'>
  
  <h2 class="-font--sans" style="top: 50%; font-size: 2em;"> {{n[1]}} > 
  </h2> 
  
  
  </a>
  
  
	
  {% endfor %}  
  
  
  </div>
  </div>
  {% endblock %}

 
{% block content %}


<div class="floaty large" >
<h2 class="-font--sans" style="font-size: 1.3em;"> Are you sure you want to delete {{item.name}}? <h2>
<div>
<p class="-font--sans" style="font-size: 1em;"><b>{{item.name}}<b></p>
<p class="-font--sans" style="font-size: 1em;"><b>Description:</b>  {{item.description}}</p>
<p class="-font--sans" style="font-size: 1em;"><b>Price:</b>  {{item.price}}</p>
<p class="-font--sans" style="font-size: 1em;"><b>Owner Cat:</b>  {{item.category_id}}</p>
</div>
<form action="{{url_for('deleteItem', itid = item.id) }}" method = 'post'>

<input class="ge-button -fill--solid -color--blue" style="border-color: crimson; background-color: crimson; width: 12vw; border-radius: 8px 8px 8px 8px" type='submit', value = 'Delete'>


<a href='{{url_for('decide', mcid = item.category_id) }}'>Cancel</a>

</div>


{% endblock %}
<!--<p>{{item.id}}</p>-->


