<!doctype html>
{% extends 'base.html' %}

{% block header %}
<div>
<div class="navigation" >
  <a href="{{url_for('newmainCategory')}}" > <button class="ge-button -fill--solid -color--blue" style="float:right; border-radius: 4% 4% 4% 4%; margin 0px 0px 3vw 0px;"> Create New Category </button> </a>
  <h2 class="-font--sans" style="top: 50%;">{% block title %}Main Categories{% endblock %}</h2> 
  </div>
  </div>
{% endblock %}

{% block content %}

{% for i in items %}

<div>

<div class="floaty">    
<a href='{{url_for('decide', mcid = i.id) }}'>
        <div class="hyper -font--sans"><b>{{i.name}}</b></div>
    </a>  
	


<a href='{{url_for('editmainCategory', mcid = i.id) }}'>Edit</a>

<a href='{{url_for('deletemainCategory', mcid = i.id) }}'>Delete</a>
</div>

</div>

{% endfor %}

{% endblock %}