<!doctype html>
{% extends 'base.html' %}

{% block header %}
<div>
<div class="navigation" >
  <a href="{{url_for('newmainCategory')}}" > 
  {% block title %}<h2 class="-font--sans" style="top: 50%;">Items
  </h2> {% endblock %}
  </div>
  </div>
  {% endblock %}

 
{% block content %}
{% for i in items %}
<div class="floaty large" style="border-radius: 2.5% 2.5% 2.5% 2.5%">
<div>
<p class="-font--sans"><b>{{i.name}}<b></p>
<p class="-font--sans"><b>i Description:</b>  {{i.description}}</p>
<p class="-font--sans"><b>Price:</b>  {{i.price}}</p>
<p class="-font--sans"><b>Owner Cat:</b>  {{i.category_id}}</p>
</div>

<a href='{{url_for('editItem', itid = i.id) }}'>Edit</a>

<a href='{{url_for('deleteItem', itid = i.id) }}'>Delete</a>

<a href='{{url_for('subCategories', mcid = i.pid) }}'>Back</a>

</div>
{% endfor %}
{% endblock %}
<!--<p>{{i.id}}</p>-->

