<!doctype html>
{% extends 'base.html' %}

{% set last = navs[0] %}

{% block title %} New Category in {{ last[1] }} {% endblock %}
{% block header %}
<div>
<div class="navigation" >
  {% for n in navs | reverse %}
  <a href='{{url_for('decide', mcid = n[0]) }}'>
  <h2 class="-font--sans" style="top: 50%; font-size: 2em;"> {{n[1]}} > 
  </h2> 
  </a>
  {% endfor %}    
  </div>
  </div>
  {% endblock %}
{% block content %}



<div class="floaty" style="width: 50vw; height: 30vh; border-radius: 2.5% 2.5% 2.5% 2.5%">


<form action="{{ url_for('newmainCategory', mcid=last[0])}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>


<input class="ge-button -fill--solid" style="border-radius: 5% 5% 5% 5%" type='submit' value='Create'>
<a class="-font--sans ge-button -fill--solid" style="border-radius: 5% 5% 5% 5%" href='{{url_for('decide', mcid = last[0]) }}''>Cancel</a>
</form>
</div>
{% endblock %}